apiVersion: v1
kind: Service7
metadata:
  name: nginx
  namespace: nginx-app
  labels:
    app: nginx
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocool: TCP
    name: http
  selector:
    app: nginx